@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,400&display=swap');


:root{
    --primary-color:#1E40AF;
}
body{
    font-family: 'Montserrat', sans-serif;
}

   hr{
       margin:3rem 0rem;
   }

/**container**/
.container{
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center{
    max-width: 600px;
    margin: auto;
}
.link{
   text-decoration:none;
    padding:0.5rem  1rem;
    margin-right: 0.5rem;
}

.link-primary{
    background-color: var(--primary-color);
    border-radius: 0.5rem;
   border: 2px solid var(--primary-color);
   color: cornsilk;
}
.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border:2px solid var(--primary-color);
    

}